.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fe5d42;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px 60px;
  border-radius: 10px;
}

.header a {
  font-size: 1.5rem;
  font-weight: 600;
}

.header div {
  font-size: 1.6rem;
  background-color: #fff;
  text-align: center;
  color: #fe5d42;
  height: 35px;
  width: 35px;
  border-radius: 9px;
  padding: 2px;
  position: relative;
}

.header div span {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #000;
  color: #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: #fe5d42;
  text-align: center;
  padding: 20px;
  margin: 10px;
  margin-top: 80px;
  border-radius: 10px;
  color: #fff;
}
